.investing {
    position: relative;
    left: 15%;
    width: 70%;
  }

.investing h4{
    margin-bottom: -20px;
}
  
.investing h2 {
position: relative;
color: black;
font-size: 48px;
flex-wrap: wrap;
margin-bottom: -20px;
}

.investing h3 {
font-size: 36px;
margin-bottom: -10px;
}

.investing h4 {
font-weight: bold;
font-size: 20px;
text-decoration: underline;
top: -50px;
}

.divider {
    border-top: 3px solid black;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 120%;
    position: relative;
    margin-top: 50px;
  }